* {
  margin: 0;
  padding: 0;
	border: 0;
	/* font-size: 100%;
	font: inherit;
	vertical-align: baseline; */
	list-style: none;
	text-decoration: none;
 }

input:focus, textarea:focus {
	outline: none;
}
 .hide-div {
	 display:none;
 }