/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
	border: 0;
	/* font-size: 100%;
	font: inherit;
	vertical-align: baseline; */
 }

body {
  background-color: #18191c;
  color: #fff;
  font-family: Helvetica;
}

p {
  color: #acacae;
}
.login-nav {
  color: #acacae;
  display: flex;
  justify-content: space-between;
}

.login-nav>:first-child{
  color: #fff;
}

.login-nav>:nth-child(n):hover{
  color: #fff;
}

.nav-button {
  border: 2px solid #acacae;
  padding: 5px 15px;
  border-radius: 25px;
  text-decoration: none;
}

.nav-button:hover {
  border-color: #fff;
}

.login-link {
  color: #fff;
  text-decoration: none;
  margin:auto;
  padding: 15px;
  background-color: #7289da;
}

.form-link {
  font-size: 12px;
  text-decoration: none;
  margin-left: 10px;
  color: #7289da;
}

.login-link:hover{
  position: relative;
  top: 1px;
}

.login-section {
  text-align: center;
}

.login-section > p {
  box-sizing: border-box;
  padding: 20px 20%;
}

.login-footer > div {
  margin:auto;
  text-align: center;
}

.login-footer {
  margin: auto;
  width:50%;
  display:flex;
  justify-content: space-between;
}

form {
  text-align: center;
  width: 50%;
  height: 50%;
  margin: auto;
}