/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  width: 100%;
}

body {
  background-color: #18191c;
  color: #fff;
  font-family: Helvetica;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

p {
  color: #acacae;
}

.login-header {
  width: 90%;
  margin:auto;
}
.login-nav {
  color: #acacae;
  display: flex;
  justify-content: space-between;
  
}


.login-nav>:nth-child(n) {
  margin:20px;
}

.login-nav>:first-child{
  color: #fff;
  margin: 0px;
}

.login-nav>:nth-child(n):hover{
  color: #fff;
}

.login-nav>img {
  height: 60px;
  width: 60px;
}

.nav-button {
  border: 2px solid #acacae;
  padding: 5px 15px;
  border-radius: 25px;
  text-decoration: none;
}

.nav-button:hover {
  border-color: #fff;
}

.login-link {
  color: #fff;
  text-decoration: none;
  margin:auto;
  padding: 15px;
  background-color: #7289da;
}


.form-link {
  font-size: 12px;
  text-decoration: none;
  margin-left: 10px;
  color: #7289da;
}

.login-link:hover{
  position: relative;
  top: 1px;
}

.login-section {
  text-align: center;
}

.login-section > p {
  box-sizing: border-box;
  padding: 20px 20%;
}

.login-footer > div {
  margin:auto;
  text-align: center;
}

.login-footer {
  margin: auto;
  display:flex;
  justify-content: space-between;
}

.session-container {
  margin-top: 5%;
}

.session-form {
  text-align: center;
  color: #72767d;
  padding: 40px;
  width: 400px;
  height: 400px;
  margin: auto;
  box-shadow: 10px 5px 5px #acacae;
  border-radius: 3px;
  background-color: #36393f;
}


.session-container .logo {
  height: 50px;
  width: 50px;
  position: relative;
  left: 48.5%;
  
}

.divider {
  border-bottom: 1px solid #f6f6f7;
  margin: 20px;
}

.full-divider {
  border-bottom: 1px solid #232428;
  margin-top: 20px;
}

.full-white-divider {
  border-bottom: 1px solid #f6f6f7;
  margin-top: 20px;
}

.server-divider {
  width: 5px;
  background-color: grey;
  margin-right: 5px;
}

#signup-form {
  height: 430px;
}

.session-form h2 {
  color: #fff;
  font-weight: 400;
}

.session-form input {
  margin: 20px 0;
  width: 388px;
  height: 40px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 3px;
  background-color: rgba(0,0,0,.1);
  border-color: rgba(0,0,0,.3);
  color: #f6f6f7;
}

.session-form label {
  text-align: left;
  display:block;
  width: 100%;
  text-transform: uppercase;
  margin-top: 15px;
}

.session-form button {
  margin-top: 20px, 0;
  width:100%;
  height: 40px;
  background-color: #7290da;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
}

.home-page {
  width: 100%; 
  display: flex; 
  position: relative;
}

.server-index {
  width: 70px;
  background-color: #202225;
}

.hidden {
  display: none;
  position: absolute;
  text-align: center;
  left: 70px;
  background-color: #000;
  color: white;
  top: 10px;
  min-width: 50px;
  z-index: 1;
  padding:5px;
  border-radius: 5px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid black;
  position: absolute;
  left: -10px;
}

ul {
  padding: 10px;
  height: calc(100vh - 20px);

}
li {
  position: relative;
}
li:hover .hidden {
  display:block;
  margin:0;
}

li  img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  opacity: .4;
}

li img:hover {
  border-radius: 5px;
  opacity: 1.4;
  transition: all .5s ease-in-out
}

.sv-selected img {
  border-radius: 5px;
  opacity: 1.4;
  border-left: 5px solid white;
  padding-left: 5px;
}
.create-server {
  position: absolute;
  top: 5px;
  right: 0px;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px dashed #acacae;
  background-color: #202225;
  color: #acacae;
  font-size: 22px;
  text-decoration: none;
}

.create-server:hover {
  color: #fff;
  border-color: #fff;
}

.channel-index {
  background-color:#2a2c31;
  width: 240px;
}

.channel-show {
  background-color: #36393f;
  width: calc(100% - 480px)
}

.home-show {
  background-color: #36393f;
  width: calc(100% - 240px)
}

.user-index {
  width: 240px;
  background-color: #2f3136;
  z-index: 5;
}

.errors > p, .joinerrors > p {
  color: red;
  text-align: center;
}