.channel-show {
  
  .channel-show-heading{
    margin: 20px;
  }

  .message-index {
    margin:20px;
    height: 84vh;
    display: flex;
    flex-direction: column-reverse;
    div {
      margin:20px 0;
      display:flex;
      justify-content: space-between;
    }
    .delete-message:hover {
      color: red;
    }
    overflow:auto;
  }
  form {
    
    text-align: center;
    height: 50px;
    width: 100%;

    input {
      width: 95%;
      height: 80%;
    }
  }

}
