.channel-show {
  
  .channel-show-heading {
    
    margin: 20px;
    span {
      border-left: 1px solid grey;
      margin-left: 10px;
      padding-left: 10px;
      font-size: 15px;
      color: #a6a7a1;
      font-weight: 400;
    }
  }

  .message {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    p {
      margin-right: 40px;
    }
  }
  .message-index {
    margin:20px;
    height: 75vh;
    // display: flex;
    // flex-direction: column-reverse;
    div {
      margin:20px 0;
      display:flex;
      justify-content: space-between;
    }
    .delete-message:hover {
      color: red;
    }
    overflow:auto;
  }
  form {
    
    text-align: center;
    height: 50px;
    width: 100%;

    input {
      width: 95%;
      height: 80%;
    }
  }

}
