.channel-index{
  
  display:flex;
  flex-direction: column;

  .server-heading {
    text-align: center;
    margin-top: 22px;
    border-bottom: 1px solid #232428;
  
  }

  .user-tab {
    margin-top: 20px;
    // text-align: center;
    display: flex;
    section {
      margin-top: 5px;
      display: flex; 
      flex-direction: column;
      margin-right: 10px;
    }
    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin: 0 5px;
    }
    button {
      background-color: #7289da;
      color: #fff;
      padding: 0 5px;
      max-height: 45px;
    }
  }

  ul {
    padding-top: 30px;
    background-color: #2f3136;
    height: calc(100vh - 173px);
    li {
      display: flex;
      justify-content: space-between;
      color: #acacae;
      padding: 10px;
    }
    a:hover{
      li{
        color: #cdcdd0;
      }
      background-color: #5e5e5f;
      .delete-server{
        visibility: visible;
        opacity: 1;
      }
    }

    .ch-selected {
        color: #cdcdd0;
      
      background-color: #5e5e5f;
    }

    .delete-server{
      position: relative;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s linear;
    }

    .delete-hidden{
      display: none;
      position: absolute;
      text-align: center;
      background-color: #000;
      color: white;
      min-width: 50px;
      z-index: 3;
      top: -10px;
      left: 40px;
      padding: 5px;
      border-radius: 5px;
    }

    .delete-server:hover{
      color: red;
      .delete-hidden{
        display: block;
      }
      .arrow-left {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid black;
        position: absolute;
        left: -10px;
        top: 10px;
      }
    }

    a {
      color:#acacae;
    }
  }
}