.hidden-servershow {
  display:none;
}

@keyframes appear {
  0% {
    left: 180px;
  }
  100% {
    left: 140px;
  }
}

.display-servershow {
  z-index: 5;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 140px;
  width: 150px;
  animation: appear .5s;
  > button {
    background-color: white;
    color: #acacae;
    font-size: 15px;
    padding: 5px;
  }

  button:hover{
    color: grey;
    text-decoration: underline;
  }
}

.channel-show, .home-show {

  .message-box {
    width: 70%;
    
    .message-item {
      position: relative;
      i {
        display: none;
        color: #acacae;
        align-self: center;
      }

      i:hover {
        color: white;
      }

      .hidden-message-options {
        display: none;
      }
      
      @keyframes appear2 {
        0% {
          top: 0;
        }
        100% {
          top: 25px;
        }
      }

      .show-message-options {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 5;
        top: 25px;
        right: -28px;
        align-items: center;
        background-color: black;
        padding: 5px;
        border-radius: 5px;
        animation: appear2 .2s;
        p {
          margin: 5px;
        }
        p:hover {
          color: white;
        }
      }

    }

    .message-item:hover {
      i {
        display: block;
      }
    }
  
  }
}
