.hidden-servershow {
  display:none;
}

.display-servershow {
  z-index: 5;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 140px;
  width: 150px;
  > button {
    background-color: white;
    color: #acacae;
    font-size: 15px;
    padding: 5px;
  }

  button:hover{
    color: grey;
    text-decoration: underline;
  }
}

.channel-show, .home-show {

  .message-box {
    
    .message-item {

      i {
        align-self: center;
      }

      .hidden-message-options {
        display: none;
      }
      
      .show-message-options {
        display: flex;
        flex-direction: column;
      }
    }
  
  }
}
