.server-load {
  img {
    background-color:#7289da;
  }
}


.loading {
  h3 {
    width: 120px;
    height: 21px;
    background-color: grey;
    border-radius: 3px;
  }
  .channel-show-heading {
    span {
      width: 180px;
      height: 19px;
      position: absolute;
      margin-left: 10px;
      padding-left: 10px;
      font-size: 15px;
      background-color: #a6a7a1;
      font-weight: 400;
      top: 1px;
      left: 120px;
      border-radius: 3px;
    }
  }

  ul {
    li {
      width: 100px;
      background-color: grey;
      margin: 0px 10px 20px;
      border-radius: 3px;
    }
  }

  .server-heading {
    margin: 20px;
  }

  .server-heading, .user-index {
    h3 {
      margin: auto;
    }
  }

  .user-index {
    h3{
      margin-top: 20px;
    }

    p {
      margin: auto;
      width: 75px;
      background-color: grey;
      margin-bottom: 20px;
      border-radius: 3px;
    }
  }

  img {
    background-color:#7289da ;
  }

  .user-tab {
    margin: auto;
      width: 75px;
      background-color: grey;
      margin-bottom: 20px;
      border-radius: 3px;
  }

  .channel-show {
    p {
      margin: auto;
        width: 75px;
        background-color: grey;
        margin-bottom: 20px;
        border-radius: 3px;
    }
  }
}