.loading {
  h3 {
    width: 120px;
    height: 21px;
    background-color: grey;
    border-radius: 3px;
  }
  
  ul {
    margin-bottom: 20px;
  
  }

  li {
    width: 100px;
    background-color: grey;
    margin: 20px 0px;
    border-radius: 3px;
  }

  p {
    margin: auto;
    width: 75px;
    background-color: grey;
    margin-bottom: 20px;
    border-radius: 3px;
  }


  .server-heading {
    
    margin: 20px;
  }

  .server-heading, .user-index {
    h3 {
      margin: auto;
    }
  }

  .user-index {
    h3{
      margin-top: 20px;
    }
  }

  img {
    background-color:#7289da ;
  }
}