.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background:#202225;
  z-index: 10;

  .modal-main {
    position:fixed;
    background: #36393f;
    width: 400px;
    height: auto;
    top:35%;
    left:50%;
    transform: translate(-50%,-50%);
    min-height: 80px;
  }
}

.modal-button {
  background-color: #36393f;
  color: #acacae;
  font-size: 19px;
  position: absolute;
  bottom: 10px;
  left: 100px;
  padding: 10px;
}

.modal-button:hover {
  color: white;
}
.display-block { 
  display: block;
}

.display-none {
  display: none;
}

.create-server-modal {
  display:flex;
  justify-content: space-around;
  form {
    display: flex;
    flex-direction: column;

    margin: auto;
    input {
      margin-top: 10px;
    }
    button {
      margin-top: 10px;
      background-color: #2a2c31;
      color: #acacae;
    }

    button:hover{
      color: #fff;
    }
  }
}

.channel-create-modal {
  text-align: left;

  form {
    display: flex;
    flex-direction: column;
    h3 {
      margin-left: 10px;
      margin-top: 10px;
    }
    input {
      padding: 5px;
      margin: 0 10px;
      margin-top: 10px;
    }
    .create-channel {
      background-color: #7289da;
      color: #fff;
      padding: 10px;
      margin-top: 10px;
      width: 50%;
      margin-left: 45%;
      font-size: 19px;
      margin-bottom: 10px;
    }
    .create-channel:disabled {
      background-color: #cccccc;
      color: #666666;
      cursor: default;
    }

  }
} 

.server-index {
  .modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background:#202225;
  z-index: 10;

    .modal-main {
      position:fixed;
      background: #36393f;
      width: auto;
      height: auto;
      top:35%;
      left:50%;
      transform: translate(-50%,-50%);
      min-height: 80px;
    }
  }

  .modal-button {
    background-color: #36393f;
    color: #acacae;
    font-size: 19px;
    position: absolute;
    bottom: 0;
    left: 220px;
    padding: 0px;
  }

  .modal-button:hover {
    color: white;
  }

  form {
    padding: 20px;
    
    input {
      padding: 10px;
    }

    button {
      background-color: #7289da;
      color: #fff;
      padding: 5px;
      margin-top: 10px;
      font-size: 19px;
      margin-bottom: 10px;
    }
    button:disabled {
      background-color: #cccccc;
      color: #666666;
      cursor: default;
    }
  }
}

.user-search {
  background-color: #3f4247;
  z-index: 1;
  position: absolute;
  top: 75px;
  left: 20px;
  font-size: 20px;
  color: #acacae;

  li{
    padding: 5px;
    border-top: 1px solid #72767d;
  }

  >:first-child {
    border-top: none;
  }

  li:hover {
    color: #fff;
  }
}

.server-search {
  background-color: #3f4247;
  z-index: 1;
  position: absolute;
  top: 96px;
  right: 20px;
  font-size: 20px;
  color: #acacae;
  li{
    padding: 5px;
    border-top: 1px solid #72767d;
  }

  >:first-child {
    border-top: none;
  }

  li:hover {
    color: #fff;
  }
}

.channel-edit {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #2f3136;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  cursor: auto;

  .channel-options {
    border-right: 2px solid white;
    padding: 80px 20px 0px 200px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;

    h6 {
      opacity: 0.6;
      margin: 8px;
    }

    .ch-edit-selected {
      background-color: #7289da;
      border-radius: 5px;
    }

    .divider {
      margin: 10px 0;
      border: 1px solid #acacae;
      opacity: .2;
    }

    p {
      color: white;
      width: 180px;
      padding: 10px;
    }

    .ch-edit-delete {
      color: red;
    }

    .ch-edit-delete:hover {
      background-color: rgba(240, 71, 71, 0.1);
    }
  }

  main {
    width: 100%;
    background-color: #36393f;
    display: flex;

    .escape {
      position: fixed;
      top: 100px;
      
      p {
        opacity: .5;
        text-align: center;
      }

      button {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        font-size: 16px;
        background-color: #36393f;
        color: #acacae;
        border: 1px solid #acacae;
        margin-bottom: 8px;
      }

      button:hover {
        background-color:rgba(114,118,125, .3);
      }
    }

    // button {
    //   border-radius: 50%;
    //   height: 30px;
    //   width: 30px;
    //   font-size: 14px;
    // }
  }

  .channel-details {
    display: flex;
    flex-direction: column;
    margin: 80px 30px;
    min-width: 450px;
    max-width: 700px;
    width: 100%;

    label {
      margin-top: 20px;
    }

    input {
      margin-top: 10px;
      border-radius: 5px;
    }

    .divider {
      opacity: .2;
      margin: 50px 0;
    }

    i {
      background: image_url("overview-img.svg");
      width: 270px;
      height: 160px;
      align-self: center;
    }


    @keyframes slideIn {
      0% {
        bottom: 0;
      }
      100% {
        bottom: 20px;
      }
    }

    .hidden-caution {
      display: none;
    }

    .show-caution {
      position: absolute;
      bottom: 20px;
      display: flex;
      min-width: 450px;
      width: 100%;
      max-width: 680px;
      justify-content: space-between;
      background: black;
      border-radius: 5px;
      padding: 10px;
      animation: slideIn .3s;

      p {
        align-self: center;
        color: white;
      }

      div {
        flex-direction: row;
        display: flex;
        align-items: center;

        p {
          margin: 0px 20px;
          font-size: 15px;
        }
        p:hover {
          text-decoration: underline;
        }

        button {
          background-color: #43b581;
          color: white;
          border-radius: 5px;
          height: 35px;
          font-size: 15px;
          width: 130px;
        }

        button:hover {
          background-color: rgba(60, 163, 116, 0.9);
        }

      }
    }
  }
}