.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background:#202225;
  z-index: 10;

  .modal-main {
    position:fixed;
    background: #36393f;
    width: 400px;
    height: auto;
    top:35%;
    left:50%;
    transform: translate(-50%,-50%);
    min-height: 80px;
  }
}

.modal-button {
  background-color: #36393f;
  color: #acacae;
  font-size: 19px;
  position: absolute;
  bottom: 10px;
  left: 100px;
  padding: 10px;
}

.modal-button:hover {
  color: white;
}
.display-block { 
  display: block;
}

.display-none {
  display: none;
}

.create-server-modal {
  display:flex;
  justify-content: space-around;
  form {
    display: flex;
    flex-direction: column;

    margin: auto;
    input {
      margin-top: 10px;
    }
    button {
      margin-top: 10px;
      background-color: #2a2c31;
      color: #acacae;
    }

    button:hover{
      color: #fff;
    }
  }
}

.channel-create-modal {
  text-align: left;

  form {
    display: flex;
    flex-direction: column;
    h3 {
      margin-left: 10px;
      margin-top: 10px;
    }
    input {
      padding: 5px;
      margin: 0 10px;
      margin-top: 10px;
    }
    .create-channel {
      background-color: #7289da;
      color: #fff;
      padding: 10px;
      margin-top: 10px;
      width: 50%;
      margin-left: 45%;
      font-size: 19px;
      margin-bottom: 10px;
    }
    .create-channel:disabled {
      background-color: #cccccc;
      color: #666666;
      cursor: default;
    }

  }
} 

.server-index {
  .modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background:#202225;
  z-index: 10;

    .modal-main {
      position:fixed;
      background: #36393f;
      width: auto;
      height: auto;
      top:35%;
      left:50%;
      transform: translate(-50%,-50%);
      min-height: 80px;
    }
  }

  .modal-button {
    background-color: #36393f;
    color: #acacae;
    font-size: 19px;
    position: absolute;
    bottom: 0;
    left: 220px;
    padding: 0px;
  }

  .modal-button:hover {
    color: white;
  }

  form {
    padding: 20px;
    
    input {
      padding: 10px;
    }

    button {
      background-color: #7289da;
      color: #fff;
      padding: 5px;
      margin-top: 10px;
      font-size: 19px;
      margin-bottom: 10px;
    }
    button:disabled {
      background-color: #cccccc;
      color: #666666;
      cursor: default;
    }
  }
}

.user-search {
  background-color: #3f4247;
  z-index: 1;
  position: absolute;
  top: 75px;
  left: 20px;
  font-size: 20px;
  color: #acacae;

  li{
    padding: 5px;
    border-top: 1px solid #72767d;
  }

  >:first-child {
    border-top: none;
  }

  li:hover {
    color: #fff;
  }
}

.server-search {
  background-color: #3f4247;
  z-index: 1;
  position: absolute;
  top: 96px;
  right: 20px;
  font-size: 20px;
  color: #acacae;
  li{
    padding: 5px;
    border-top: 1px solid #72767d;
  }

  >:first-child {
    border-top: none;
  }

  li:hover {
    color: #fff;
  }
}