.server-show {
  display: flex;
  width: 100%;
  margin-left: 70px;
}

body {
  input {
    ::placeholder {
      color: #444c55;
    }
    border-radius: 5px;
    font-size: 20px;
    padding : 10px;
    box-sizing: border-box;
    background-color: #3f4248;
    color: #acacae;
  }
}

.fa-times {
  transition: transform .8s;
  transform: rotate(90deg);
}
