.user-index{
  text-align: center;

  h5 {
    border-bottom: 1px solid #fff; 
    line-height: 0.1em;
    margin: 10px 0;
    span {
      background-color: #2f3136;
      padding:0 10px; 
    }
  }


  input {
    margin-top: 20px;
    font-size: 18px;
    padding: 0;
  }

  i {
    color: gold;
  }
  h3 {
    margin-top:20px;
  }
  ul {
     height: 79vh;
     overflow: auto;
    p {
      padding: 10px
    }
    // p:hover{
    //   color: #cdcdd0;
    //   background-color:#5e5e5f;
    // }
  }
}